<div class="nav">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h1 class="nav-title">
                <%= blog.title %>
            </h1>
            <p class="nav-subtitle">
                <%= blog.subtitle %>
            </p>
        </div>
    </div>
</div>