<div class="nav">
    <div class="nav-content">
        <div class="nav-content-left">MOSUM</div>
        <div class="nav-content-tight">
            <a href="/blog">博客</a>
            <a href="/signup">注册</a>
            <a href="/signin">登陆</a>
            <a href="/contact">联系我</a>
        </div>
    </div>
</div>