body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00B7FF;
}

/* --------- nav ---------- */
.nav{
  padding: 25px 12px;
  color: #74b1be;
  background-color: #2f3241;
  border-bottom-color: #1a1b23;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 30px;
}
.nav-content{
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}
.nav-content-left{
  font-size: 30px;
  padding-left: 30px;
}
.nav-content-right{
  font: 16px;
  padding-right: 20px;
}
.nav a{
  text-decoration: none;

  color: #74b1be;
  margin-right: 20px;
  display: inline-block;
  height: 100%;
  /* font-size: 4rem; */
}
.nav a:hover{
  color: #9feaf9;
  border-bottom: 3px solid #9feaf9;
}

/* ---------- nav-settings ---------- */
.nav-setting {
  position: fixed;
  right: 30px;
  top: 35px;
  z-index: 999;
}

.nav-setting .ui.dropdown.button {
  padding: 10px 10px 0 10px;
  background-color: #fff !important;
}

.nav-setting .icon.bars {
  color: #000;
  font-size: 18px;
}
/* ----------- navigator ---------- */
